table,
th,
tr {
  font-family: Arial, Helvetica, sans-serif;
  border: 1px solid black;
  border-collapse: collapse;
  line-height: 17px;
}
  

table tr:nth-child(odd) th {
  background-color: #f9f9f9
}

table tr:nth-child(even) th {
  background-color: #dadada
}

table {
  margin-top: 63px;
  width: 100%;
}

tr,
th {
  font-weight: 500;
}

.numbers {
  text-align: right;
  padding-right: 1%;
  width: 9%;
}

.label {
  width: 9%;
  font-size: 18px;
  font-weight: bolder;
  font-size: larger;
  border: 1px solid black;
  text-decoration: underline;
  text-decoration-style: double;
  }

  .label-1 {
    font-size: 17px;
    font-weight: 600;
    color: black;
  }

#form_acc {
  position: fixed;
  border: 1 px solid #870000;
  margin-top: 52px;
  margin-left: 25%;
  background: #870000;
  transform: scale(1);
}

.sticky {
  width: 100%;
  position: sticky;
  top: 86px;
}

.highlight {
  color: rgb(236, 20, 20);
  font-size: 18px;
  }