.textWrapper {
    margin-left: 10%;
    }
  
  #ticket_center {
  text-align: center;
  }
  
  #id_deal_date, #id_value_date, #id_expiry_date {
  width: 70%;
  padding: 8px 20px
  }
  
  #id_username, #id_password {
  
    width: 80%;
  }
  
  .button_form {
    padding: 10px 15px;
    font-weight: 700;
  }