.textWrapper {
  margin-left: 10%;
}

#ticket_center {
  text-align: center;
}

#id_deal_date,
#id_value_date,
#id_expiry_date {
  width: 70%;
  padding: 8px 20px
}

#id_username,
#id_password {

  width: 80%;
}

.button_form {
  padding: 10px 15px;
  font-weight: 700;
  border-radius: 5px;
}

form {
  min-height: 20%;
  font-weight: 700;
  width: 50%;
  position: absolute;
  left: 25%;
  top: 50%;
  transform: translateY(-50%);
  border: 3px solid lightgray;
  background: rgba(240, 166, 132, 0.8);
  border-radius: 30px;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
}

img.avatar {
  width: 10%;
}