.textWrapper {
  margin-left: 10%;
}

#ticket_center {
  text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance:textfield;
}

#id_deal_date,
#id_value_date,
#id_expiry_date {
  position: fixed;
  width: 20%;
  left: 30%;
  padding: 6px 20px;
  border-radius: 5px;
}

#id_counterparty,
#id_currency_base,
#id_counterparty_another,
#id_amount_in_base_cur,
#id_amount_in_side_cur,
#id_interest_rate,
#id_currency_cross,
#id_side,
#id_exchange_rate,
#id_deal_kind,
#id_frontoffice,
#id_ordering {
  position: fixed;
  width: 10%;
  left: 30%;
  padding: 6px 20px;
  border-radius: 5px; 
}

#id_deal_number__contains,
#id_deal_number__gte,
#id_deal_number__lte,
#id_deal_date__gte,
#id_deal_date__lte,
#id_value_date__gte,
#id_value_date__lte {
  position: fixed;
  width: 10%;
  left: 50%;
  padding: 6px 20px;
  border-radius: 5px;
}

#id_username,
#id_password {

  width: 80%;
}

.left {
  position: fixed;
  left: 30%;
}

.button_form {
  padding: 10px 15px;
  font-weight: 700;
  border-radius: 5px;
}

form {
  min-height: 30%;
  font-weight: 700;
  font-size: 16px;
  width: 50%;
  position: absolute;
  left: 25%;
  top: 50%;
  transform: translateY(-50%);
  border: 3px solid #870000;
  background: rgba(240, 166, 132, 0.8);
  border-radius: 30px;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
  
}

img.avatar {
  width: 10%;
}

.errors {position: fixed;
  left: 25%;
  bottom: -15%;
  text-align: center;
  font-size: 20px;
  animation: waggle 3s 3s forwards ease-out;
  }

  @keyframes waggle {
    0% {
      transform: none;
    }
    50% {
      transform: rotateZ(-20deg) scale(1.2);
    }
    60% {
      transform: rotateZ(25deg) scale(1.2);
    }
    67.5% {
      transform: rotateZ(-15deg) scale(1.2);
    }
    75% {
      transform: rotateZ(15deg) scale(1.2);
    }
    82.5% {
      transform: rotateZ(-12deg) scale(1.2);
    }
    85% {
      transform: rotateZ(0) scale(1.2);
    }
    100% {
      transform: rotateZ(0) scale(1);
    }
  }

/*----------------------------------------------------------- UPLOAD PAGE--------------------------------------------------------------------*/

.upload {
  position: absolute;
  top: 20%;
  font-size: 20px;
}