{% load static %}
<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Navbar</title>
</head>

<body>
  <div class="navbar">
    <div id="logo">
      <img src="{% static "img/orange logo.jpg" %}" alt="Orange logo" width="33px">
    </div>

    <div>
      <a href="/home">Home</a>
    </div>

    <div class="dropdown">
      <button class="dropbtn" style="font-weight:bold">Accounts
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="/bank_acc/Citi">Citi</a>
        <a href="/bank_acc/mBank">mBank</a>
        <a href="/bank_acc/Societe">Societe</a>
        <a href="/bank_acc/Santander">Santander</a>
      </div>
    </div>

    <div class="dropdown">
      <button class="dropbtn" style="font-weight:bold">Execute
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="/depo">Depo</a>
        <a href="/spot">FX</a>
        <a href="/txfr">Transfer</a>
        <a href="/fwd">Forward</a>
        <a href="#">Interest rate</a>
      </div>
    </div>

    <div class="dropdown">
      <button class="dropbtn" style="font-weight:bold">Reports
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="/dealsfilter">Deals search</a>
        <a href="/dealsearch">Deals search</a>
        <a href="/dealsearch_id">Deals search by number</a>
        <a href="#">Limits</a>
      </div>
    </div>

    <div class="dropdown">
      <button class="dropbtn" style="font-weight:bold">Data
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="/upload">Data upload</a>
        <a href="/dataimport">Flows data import</a>
        <a href="/marketdataimport">Market data import</a>
      </div>
    </div>

    <div class="dropdown">
      <button class="dropbtn" style="font-weight:bold">Valuations
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="/curves">Yield curves</a>
        <a href="/yieldchart">Yield curves chart</a>
        <a href="/fxvalue">FX valuation</a>
        <a href="#">IR valuation</a>
      </div>
    </div>

    <div class="dropdown">
      <button class="dropbtn" style="font-weight:bold">Hedging
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="#">FX</a>
        <a href="#">Interest Rate</a>
      </div>
    </div>

    <div>
        <a href="/about">About</a>
    </div>
    
    <a href="/accounts/logout">Logout</a>

    <b id="title">{{ title }}</b>

  </div>

  <div class="footer">
    <p id="left">Logged User: <span id="name">{{ user.first_name }} {{ user.last_name }}</span> </p>
    <p id="right">&copy; Copyright 2019 ARW</p>
  </div>

</body>

</html>