{% extends 'base.html' %}
{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/ticket.css' %}">
<script src="{% static 'js/app.js' %}"></script>

{% load humanize %}
    {{ floatvalue|floatformat:2|intcomma }}

<form method="POST"> {% csrf_token %}
    <h2 class = "textWrapper">Depo deal update </h2>
    <p class = "textWrapper">Deal number: {{obj.deal_number}}</p>
    <hr>
{% for field in form %}
    <div class="textWrapper">
      <br>
      {{field.label_tag}} {{field}}

    </div>
  {% endfor %}
<br>
<input class = "textWrapper button_form" type="submit" value="Save"/>
<br>
<br>
</form>

{% endblock %}