{% extends 'base.html' %}
{% load static %}

{%  block content %}
<link rel="stylesheet" href="{% static 'css/ticket.css' %}">
<script src="{% static 'js/app.js' %}"></script>

<form method="POST" enctype="multipart/form-data">
    <h2 id="ticket_center">Files Upload</h2>
    <hr>
    {% csrf_token %}
    <p class="text textWrapper"> Chose file: </p>
    <br>
    <input class="textWrapper button_form" type="file" name="document">
    <button type="submit" class="button_form">
        Upload file
    </button>
</form>

{% if url %}
<p>Uploaded file: <a href="{{ url }}"> {{ url }} </a></p>
{% endif %}

{% endblock %}