{% extends 'basechart.html' %}

<script>
{% block jquery %}

var a = 12
console.log(a)



var endpoint = '/api/yieldchart/data/'
var pln = []
var eur = []
var usd = []

var labels = [];
$.ajax({
    method: "GET",
    url: endpoint,
    success: function(data){
        labels = data.labels
        defaultData = data.default
        pln = data.pln
        eur = data.eur
        usd = data.usd
        setChart()
    },
    error: function(error_data){
        console.log("error")
        console.log(error_data)
    }
})

function setChart(){
var mix = document.getElementById("mixChart").getContext('2d');
var mixChart = new Chart(mix, {
    type: 'bar',
        data: {
        labels: labels,
        datasets: [
            {
                type: 'line',
                label: "PLN",
                data: pln,
                borderColor: 'rgba(255, 99, 132, 1)',
                backgroundColor: 'rgba(0, 0, 0, 0)',                
            },
            {
                type: 'line',
                label: "EUR",
                data: eur,
                borderColor: 'rgba(0, 178, 14, 1)',
                backgroundColor: 'rgba(0, 0, 0, 0)',
            },
            {
                type: 'line',
                label: "USD",
                data: usd,
                borderColor: 'rgba(0, 22, 178, 1)',
                backgroundColor: 'rgba(0, 0, 0, 0)',
            }
        ]
    },
});
}



{% endblock %}


</script>

{% block content %}

<div class='row' style="background: rgb(250,244,225)">
    <div class='col'>
        <h3> Valuation yield curves</h3>
        
        
        
        <div class='col'>
            <canvas id="mixChart" width="1600" height="900"></canvas>
        </div>
        
        <input type="button" value="Go back" onclick="history.back(-1)">
    </div>
</div>

{% endblock content %}